/supersimplistic.csv
/simplistic.csv
/mouse.csv
/mnist-pca-short.csv
/knn.c
/iris.csv
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-2e99d1a3ec6e65552a8e.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-525ae867a29b3533c199.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-291e290a51453f4a3bde.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-01-10T22-58-05-0574.json
/cmake-build-debug/.cmake/api/v1/reply/target-kmeans-Debug-de5d804490c9bb71626a.json
/cmake-build-debug/.cmake/api/v1/reply/target-knn-Debug-49629d864224077b0548.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-5f001e191be648574954.json
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/3.27.8/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.27.8/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/kmeans.dir/distance.c.o
/cmake-build-debug/CMakeFiles/kmeans.dir/ioutils.c.o
/cmake-build-debug/CMakeFiles/kmeans.dir/kmeans.c.o
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/kmeans
/cmake-build-debug/mnist-pca-short.csv
/cmake-build-debug/mouse.csv
/cmake-build-debug/supersimplistic.csv
/documentation/AGKI_UE10.pdf
/documentation/iris_k2.png
/documentation/iris_k3.png
/documentation/iris_k4.png
/documentation/iris_original.png
/documentation/mnist_k2.png
/documentation/mnist_k3.png
/documentation/mnist_k4.png
/documentation/mnist_original.png
/documentation/mouse_k2.png
/documentation/mouse_k3.png
/documentation/mouse_k4.png
/documentation/mouse_k5.png
/documentation/mouse_original.png
/documentation/simplistic_k2.png
/documentation/simplistic_original.png
/documentation/supersimplistic_k2.png
/documentation/supersimplistic_original.png
